---
to: <%= h.src() %>/<%= h.changeCase.lower(name) %>/templates/components/suggestions/m-checkboxes/m-checkboxes.html.twig
---
<div {{ attributes.addClass('m-checkboxes') }}>
  {{ children }}
</div>
