---
to: <%= h.src() %>/<%= h.changeCase.lower(name) %>/templates/components/suggestions/m-page-title/m-page-title.html.twig
---
{{ title_prefix }}
{% if title %}
  <div {{ title_attributes.addClass('m-page-title') }}>
    <div class="h-container h-container--w-1 h-container--hp-1 h-container--vp-1">
      {% include '@component/a-text/a-text.html.twig' with {
        attributes: create_attribute().addClass('m-page-title__content'),
        tag: 'h1',
        type: 'h1',
        content: title,
      } only %}
    </div>
  </div>
{% endif %}
{{ title_suffix }}
