---
to: <%= h.src() %>/<%= h.changeCase.lower(name) %>/templates/components/uncategorized/o-dialog/o-dialog.src.css
---
.o-dialog {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(var(--viewport-height) - 80px);
  transition: transform var(--transition-duration-0-5)
    var(--transition-timing-function-cubic-bezier);
  background-color: var(--color-white);

  @media (--m) {
    left: 50%;
    width: 624px;
    transform: translateX(-50%);
  }

  @media (--l) {
    top: 50%;
    bottom: auto;
    left: 50%;
    width: 624px;
    max-height: calc(var(--viewport-height) - 40px);
    transition-property: opacity, visibility;
    transform: translate(-50%, -50%);
    border-radius: 0;
  }

  &--hidden {
    transform: translateY(100%);

    @media (--m) {
      transform: translate(-50%, 100%);
    }

    @media (--l) {
      visibility: hidden;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  &__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
  }

  &__close {
    flex-shrink: 0;
  }

  &__content {
    overflow: auto;
    padding: 0 16px 16px;
    overscroll-behavior: contain;
  }
}

.o-dialog-overlay {
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-timing-function: var(--transition-timing-function-cubic-bezier);
  transition-duration: var(--transition-duration-0-5);
  transition-property: visibility, opacity;
  background-color: rgb(0 0 0 / 0.5);
  overscroll-behavior: contain;
}
