---
to: <%= h.src() %>/<%= h.changeCase.lower(name) %>/templates/components/theme/a-input-password/a-input-password.html.twig
---
<div {{ create_attribute().addClass('a-input-password', 'h-text-input') }}>
  <input{{ attributes.addClass('h-text-input__element') }} />
  {{- children }}
</div>
