---
to: <%= h.src() %>/<%= h.changeCase.lower(name) %>/templates/components/ui_patterns/m-flex-field/m-flex-field.html.twig
---
{% if items %}
  {% set classes = [
    'm-flex-field',
    gap and gap != 'default' ? 'm-flex-field--' ~ gap : [],
  ] %}
  <div {{ attributes.addClass(classes) }}>
    {% if container %}
      {% set container_classes = [
        'h-container',
        container_width and container_width != 'default' ? 'h-container--' ~ container_width : [],
        container_horizontal_padding and container_horizontal_padding != 'default' ? 'h-container--' ~ container_horizontal_padding : [],
        container_vertical_padding and container_vertical_padding != 'default' ? 'h-container--' ~ container_vertical_padding : [],
        container_horizontal_margin and container_horizontal_margin != 'default' ? 'h-container--' ~ container_horizontal_margin : [],
        container_vertical_margin and container_vertical_margin != 'default' ? 'h-container--' ~ container_vertical_margin : [],
      ] %}
      <div {{ create_attribute().addClass(container_classes) }}>
    {% endif %}
    {% if label %}
      {% include '@component/a-text/a-text.html.twig' with {
        attributes: create_attribute().addClass('m-flex-field__label'),
        tag: label_tag,
        type: label_type,
        content: label,
        custom_content: label_override,
      } only %}
    {% endif %}
    <div class="m-flex-field__items">
      {% for item in items %}
        <div class="m-flex-field__item">
          {{ item }}
        </div>
      {% endfor %}
    </div>
    {% if container %}
      </div>
    {% endif %}
  </div>
{% endif %}
