---
to: <%= h.src() %>/<%= h.changeCase.lower(name) %>/templates/components/suggestions/m-form-element-label/m-form-element-label.src.css
---
.m-form-element-label {
  display: table;
  cursor: pointer;

  &--after {
    padding-left: 16px;
  }

  &.form-required {
    &::after {
      margin-left: 0.3em;
      content: '*';
    }
  }
}
